<form class="form-horizontal" name="myForm" ng-submit="commitForm(myForm);">
	<div class="contentBox">
		<div class="subTitle">添加新闻</div>
		<div class="contList">
			<div class="form-group col-md-10">
				<label class="col-md-3 control-label">新闻标题：</label>
				<div class="col-md-6">
					<input type="text" class="form-control" name="newTitle" ng-maxlength="20" required
						   ng-model="data.newTitle"  ng-required="true" placeholder="请输入名"/>
	              <span style="color:red" ng-show="myForm.username.$error.maxlength">
                   最大长度为20
               </span>
				</div>
			</div>
			<div class="form-group col-md-10">
				<label class="col-md-3 control-label">新闻发布时间：</label>
				<div class="col-md-9">
					<div class="form-group  col-md-6">
						<input class="form-control" ng-model="data.newTime" data-date-format="yyyy-MM-dd"
							   data-autoclose="1" placeholder="Date" bs-datepicker type="text">
					</div>

					<div class="form-group col-md-3">
						<input type="text" class="form-control" placeholder="" ng-model="data.newTime"  data-time-format="HH:mm:ss" data-length="3" data-autoclose="1" placeholder="Time" bs-timepicker  data-arrow-behavior="picker"/>
					</div>
				</div>
			</div>
			<div class="form-group col-md-10">
				<label class="col-md-3 control-label">新闻作者：</label>
				<div class="col-md-6">
					<input type="text" class="form-control" name="newOther" ng-maxlength="20" required
						   ng-model="data.newOther"  ng-required="true" placeholder="请输入新闻作者"/>
				</div>
			</div>


			<div class="form-group col-md-10">
				<label class="col-md-3 control-label">新闻简介：</label>
				<div class="col-md-6">
					<input type="text" class="form-control" name="newContent"
						   ng-model="data.newIntro" />
				</div>
			</div>

			<div class="form-group col-md-10">
				<label class="col-md-3 control-label">新闻内容：</label>
				<div class="col-md-6">
					<input type="text" class="form-control" name="newContent"
						   ng-model="data.newContent" />
				</div>
			</div>

			<div class="form-group col-md-10">
				<label class="col-md-3 control-label">新闻链接：</label>
				<div class="col-md-6">
					<input type="text" class="form-control" name="newLink"
						   ng-model="data.newLink" />
				</div>
			</div>


			<div class="form-group col-md-10  text-center">
				<button type="submit" class="btn btn-primary width100">提交</button>
				<button type="reset" class="btn btn-default width100 ml15">重置</button>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</form>