<form class="form-horizontal" name="myForm" ng-submit="commitForm(myForm);">
	<div class="contentBox">
		<div class="subTitle">添加用户</div>
		<div class="contList">
	        <div class="form-group col-md-7">
	            <label class="col-md-2 control-label">用户名：</label>
	            <div class="col-md-8">
	                <input type="text" class="form-control" ng-model="data.contList.username" required ng-required="true" placeholder="请输入用户名" />
	            </div>
	        </div>

	        <div class="form-group col-md-7">
	            <label class="col-md-2 control-label">角色：</label>
	            <div class="col-md-8">
					<select class="form-control" ng-model="data.district" ng-options="district.name for district in data.role">
						<option value="">请选择</option>
					</select>
	            </div>
	        </div>

	        <div class="form-group col-md-7">
	            <label class="col-md-2 control-label">用户密码：</label>
	            <div class="col-md-8">
	                <input type="password" class="form-control" ng-model="data.contList.pwd" required ng-required="true" placeholder="用户密码" />
	            </div>
	        </div>

	        <div class="form-group col-md-7">
	            <label class="col-md-2 control-label">头像：</label>
	            <div class="col-md-8">
	                <input name="merPicFile" ng-model = "data.contList.img" type="file" id="merPicFileMsg" class="form-control" accept=".png,.gif,.jpg,.ico,.jpge"/>
	            </div>
	        </div>

	        <div class="form-group col-md-7">
	            <label class="col-md-2 control-label">性别：</label>
	            <div class="col-md-8">
					<select class="form-control" ng-model="data.contList.sex">
						<option value="0">保密</option>
						<option value="1">男</option>
						<option value="2">女</option>
					</select>
	            </div>
	        </div>

	        <div class="form-group col-md-7">
	            <label class="col-md-2 control-label">生日：</label>
	            <div class="col-md-8">
					<p class="input-group">
			          <input type="text" class="form-control" readonly uib-datepicker-popup ng-model="data.date" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="清除" />
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
			        </p>
	            </div>
	        </div>	        
	        <div class="form-group col-md-7">
	            <label class="col-md-2 control-label">电话号码：</label>
	            <div class="col-md-8">
	                <input type="text" class="form-control" ng-model="data.contList.mobile" maxlength="11" required ng-required="true" placeholder="填写您的电话号码" />
	            </div>
	        </div>
	        <div class="form-group col-md-7">
	            <label class="col-md-2 control-label">服务小区：</label>
	            <div class="col-md-8">
	                <input type="text" class="form-control" ng-model="data.contList.village" required ng-required="true" placeholder="" />
	            </div>
	        </div>
	        <div class="form-group col-md-7">
	            <label class="col-md-2 control-label">职务：</label>
	            <div class="col-md-8">
	                <input type="text" class="form-control" ng-model="data.contList.post" required ng-required="true" placeholder="" />
	            </div>
	        </div>
	        <div class="form-group col-md-12  text-center">
	        	<button type="submit" class="btn btn-primary btn-sm width100">提交</button>
				<button type="reset" class="btn btn-default btn-sm width100 ml15">重置</button>
	        </div>
   	 	</div>
	</div>
</form>