<form>
	<div class="contentBox">
		<div class="subTitle">添加角色</div>
		<div class="contList">
			角色名称:<input type="text" class="form-control" ng-model="data.contList.username" required ng-required="true" placeholder="" />
			是否启用:<label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1"> 是</label><label class="radio-inline"><input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2"> 否</label><br/>
			权限选择:<label ng-repeat="roleInfo in data.roleList">
			<input type="checkbox" id="roleList" value={{roleInfo.id}}>{{roleInfo.name}}<br/>
				<label class="checkbox-inline" ng-repeat = "menuInfo in roleInfo.menuList" >
				<input type="checkbox" id="menuList" value={{menuInfo.menuId}}>{{menuInfo.menuName}}
				</label>
		</label>
			<br/>
			<button type="submit" class="btn btn-primary btn-sm">提交</button>
			<button type="reset" class="btn btn-default btn-sm">重置</button>
		</div>
	</div>
</form>