.pictureBox2{
    .typeListStyle,.typeListStyle2{
        border: 1px solid #ddd;
        background: #fff;
        border-radius: 5px;
        padding:5px 0;
        width: 130px;
        position: relative;
        z-index: 999;
        li{
            cursor: pointer;
            border-bottom: 1px solid #ddd;
            height: 30px;
            line-height: 30px;
            padding:0 5px;
        }
        li:last-child{
            border-bottom: none;
        }
        li:hover{
            background: #ccc;
        }
    }
    .typeListStyle2{
        width: 100px;
        position: absolute;
        top:18px;
    }
    .pointCont{
        span{
            padding: 1px 3px;
            color: #fff;
            min-width: 114px;
            border-radius: 4px;
            display: block;
            background: rgba(49, 66, 87, 0.65);
            font-size: 12px;
        }
    }
    .beacon {
        position: absolute;
        width: 30px;
        height: 30px;
        z-index: 299;
        border-radius: 50%;
        left: 0;
        top: 0;
        background: url(../images/maps/icon.png) no-repeat center center;
        background-size:30px;
        transform: translate3d(-50%, -50%, 0);
        .typeListStyle1{
            border: 1px solid #ddd;
            background: #fff;
            border-radius: 5px;
            padding:5px 0; 
            position: absolute;
            top:20px;
            left:0;
            width: 100px;  
            li{
                cursor: pointer;
                border-bottom: 1px solid #ddd;
                height: 30px;
                line-height: 30px;
                padding:0 5px; 
            } 
            li:last-child{
                border-bottom: none;
            }
            li:hover{
                background: #ccc;
            }                                           
        }
        .pinpointStyle{
            position: absolute;
            top: 20px;                
        }

    }       
    .des{
        width: 50px;
        display: inline-block;
        padding-left: 15px;
    }
    .yellow{
        background: url(../images/maps/icon1.png) center center no-repeat!important;
        background-size: 25px!important;
        width: 25px!important;
        height: 25px!important;        
    } 
    .green{
        background: #0b8441!important;      
    } 
    .leftWay{
        background: url(../images/maps/left.png) repeat-x!important;
        background-size: 20px 100% !important;
    }  
    .rightWay{
        background: url(../images/maps/right.png) repeat-x!important;
        background-size: 20px 100% !important;
    } 
    .point{
        background: url(../images/imgs/charge1.png) center center no-repeat!important;
        background-size: 13px!important;
        width: 14px!important;
        height: 14px!important;
        position: absolute;
        transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        -webkit-transform: translate3d(-50%, -50%, 0);
        -o-transform: translate3d(-50%, -50%, 0);
        cursor: move;                   
    }   
    .red{
        background: url(../images/imgs/charge.png) center center no-repeat!important;
        background-size: 13px!important;
        width: 14px!important;
        height: 14px!important;
        position: relative;        
    } 
    .robotStyle{
        background: url(../images/icon/robot1.png) center center no-repeat!important;
        background-size: 30px!important;
        width: 30px!important;
        height: 30px!important;
        position: relative;     
        cursor: pointer!important;      
    }
    .blue{
        background: url(../images/imgs/charge1.png) center center no-repeat!important;
        background-size: 13px!important;
        width: 14px!important;
        height: 14px!important;
        position: relative;        
    }         
    .taskLine{
        position: absolute;
        height: 3px;
        transform-origin: 0;
        -ms-transform-origin: 0;
        -moz-transform-origin: 0;
        -webkit-transform-origin: 0;
        -o-transform-origin: 0;
        margin-top: -2px;        
        background: #29b2e6!important;   
    }
    .taskLine:hover{
        background: #29b2e6!important;    
    }    
    .disabledStyle{
        background: #bbb;
        color: #fff;
        border-color: #bbb;
    }
    .disabledStyle:hover{
        background: #bbb;
        color: #fff;
        border-color: #bbb;        
    }
    .btnsPos{
        button,a{
            display:inline-block;
        }
    }
    .border-bottom{
        /*border-bottom: 1px solid #ddd;*/
        margin-bottom: 30px;
    }
    .setPos{
        position: relative;
        padding: 0;
    }
    .changeMap{
        position: absolute;
        bottom: 45px;
        right: 30px;
        width: 32px;
        padding: 4px;
        border: 1px solid #999;
        background: #fff;
        z-index: 30;
    }
    .toBig{
        background: url(../images/maps/max1.png) no-repeat center center;
        background-size: 20px;
        width: 22px;
        height: 22px;
        padding: 0;
        border: 1px solid #ddd;         
    }
    .toSmall{
        background: url(../images/maps/min1.png) no-repeat center center;
        background-size:20px;    
        width: 22px;
        height: 22px;
        padding:0;   
        border: 1px solid #ddd;         
    }
    .toBig1{
        background: url(../images/maps/max2.png) no-repeat center center;
        background-size:20px;
        width: 22px;
        height: 22px;
        padding: 0;   
        border: none;       
    }
    .toSmall1{
        background: url(../images/maps/min2.png) no-repeat center center;
        background-size:20px;    
        width: 22px;
        height: 22px;
        padding:0;               
    }

    .cursorBtns{
        background-size: 70%;
        padding: 50px;
        height: 300px;
        width: 100%;
        position: relative;
        .topBtn{
            position: absolute;
            top: 51px;
            left: 138px;
            width: 164px;
            height: 63px;
            cursor: pointer;
        }
        .rightBtn{
            position: absolute;
            top: 119px;
            right: 72px;
            height: 164px;
            width: 63px;
            cursor: pointer;
        } 
        .bottomBtn{
            position: absolute;
            bottom: 51px;
            left: 138px;
            width: 164px;
            height: 60px; 
            cursor: pointer;       
        } 
        .leftBtn{
            position: absolute;
            top: 119px;
            left: 72px;
            height: 164px;
            width: 63px;
            cursor: pointer;
        }
        .okBtn{
            position: absolute;
            top: 120px;
            left: 136px;
            height: 170px;
            width: 170px;
            border-radius: 82px;
            cursor: pointer;
        }
    }
    .checkedList{
        li{
            display: inline-block;
        }
    }    
}
.clearfix{
    clear: both;
}
.positionDiv{
    width: 300px;
    max-width: 330px;
    background: rgba(87,100,113,0.8);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 15px;
    top: 10px;
    left: 15px;
    position: absolute;
    z-index: 300;
    .coordsDiv{
        color: #fff;
        border-bottom:2px solid #8d969f;
        padding: 8px 0;
        .coordsNum{
            height: 22px;
            line-height: 22px;
            font-size: 15px;
            color: #fff;
            background: rgba(255,255,255,0.4);
            border-radius: 5px;
            margin-top: 4px;
            padding-left: 6px;
        }
    }
    .selectRobot{
        .selectDiv{
            width: 125px;
            height: 22px;
            padding: 0;
            margin: 0 3px;  
            display: inline-block;      
        }
    }
    .positionNum{
        display: inline-block;
        width: 103px;
        margin: 0px 10px 0 4px;
        background: none;
        border: none;
    }       
}
.popover.right > .arrow{
    border-right-color: rgba(87, 100, 113, 0.7)!important;
}
.popover.right > .arrow:after{
    border-right-color: rgba(87, 100, 113, 0.1)!important;
}    

.robotInfo{
    padding: 0;
    border: none;
    width: 400px;
    max-width: 400px;
    background: rgba(87,100,113,0.8);  
    color: #fff;
    table{
        width: 200px;
        float: left;
        margin: 0;
    }
    td{
        border: 1px solid #8e97a0;
        text-align: center;
    }
}

 