<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-brand"><a href="/home/index"><span class="color1">迈动机器人</span>开发平台</a></div>
        <div class="collapse navbar-collapse">
            <div class="nav navbar-nav navbar-right">
                <div class="form-horizontal">
                    <div class="col-md-2 col-sm-2 col-xs-2 pull-right">
                        <div class="charges red" trigger="click"  data-autoClose=true data-template-url="home/userInfo.tpl.html" data-auto-close="1" data-animation="am-flip-x" data-placement="bottom" bs-popover>
                            <span class="uLogo"><img src="{{userInfo.uLogo}}" /></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="mr-homeNav">
    <div class="leftMenu">
        <ul id="menu3" class="mr-navList">
            <li ng-repeat="type in data track by $index">
                <a href="#" class="menu" ng-click="changeMenu(type.menuName);"
                   ng-class="{'activeMenu':menuName == type.menuName}">
                    <i ng-if="type.menuName == '授权管理'" class="fa fa-arrows-alt" aria-hidden="true"></i>
                    {{type.menuName}}
                </a>
                <ul ng-if="type.childMenuList.length > 0">
                    <li ng-repeat="classify in type.childMenuList track by $index">
                        <a class="childMenu"
                           href="{{classify.runscript}}"
                           ng-if="!classify.threeMenuList"
                           ng-click="changeChildMenu(classify.menuName);"
                           ng-class="{'activeChildMenu':childMenu == classify.menuName}">
                            {{classify.menuName}}
                        </a>
                        <a class="childMenu"
                           href="#"
                           ng-if="classify.threeMenuList"
                           ng-click="changeChildMenu(classify.menuName);"
                           ng-class="{'activeChildMenu':childMenu == classify.menuName}">{{classify.menuName}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="mrCont"><!-- <a class="goIndex" ng-click="goBack()" ng-if="!userInfo.ifadmin" >首页 > </a>   -->
        <div class="seat hidden-xs hidden-sm">您当前的位置是：{{nowParentname}}
            <span ng-if="nowstatename"> > {{nowstatename}}</span>
        </div>
        <div ui-view="content"></div>
    </div>
</div>